body {
    background-color: rgb(155, 186, 218);
}

.container {
    height: 600px;
    width: 90%;
    margin: 2% 5%;
    background-color: white;
    border: 5px solid white;
    border-radius: 1rem;

}

h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

#buttonAttack {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: 5px solid rgba(119, 136, 153, 0.51);
    border-radius: 1rem;
    background-color: rgb(155, 186, 218);
}

#buttonAttack:hover {
    background-color: rgb(134, 150, 194);
}

#buttonAttack:active {
    background-color: rgb(155, 180, 211);
    border: 3px solid rgba(119, 136, 153, 0.51);
}

#comment {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.row {
    width: 100%;
}

.rowStyle1 {
    height: 48px;
}

.rowStyle2 {
    height: 228px;
}

.col-4 {
    width: 33%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.col {
    margin: auto;
    text-align: center;
}

.align-left {
    text-align: left;
    float: left;
}

.align-right {
    text-align: right;
    float: right;
}

.align-center {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.remainingCharacter {
    border: 10px solid green;
    cursor: pointer;
    border-radius: 1rem;
}

.imageContainer {
    width: 220px;
    height: 220px;
    position: relative
}

.remainingTextbox {
    color: #ffffff;
    font-size: 20px;
    background-color: #000000;
    text-align: center;
    padding: 5px 0px;
    width: 200px;
    position: absolute;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    bottom: 5%;
}

.heroImage {
    border: 10px solid white;
    border-radius: 1rem;
}

.challengerImage {
    border: 10px solid white;
    border-radius: 1rem;
}

.heroTextbox {
    color: #ffffff;
    font-size: 20px;
    background-color: white;
    position: absolute;
    text-align: center;
    padding: 5px 0px;
    width: 200px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    bottom: 5%;
}

.placeholderImage {
    border: 10px solid white;
}

.challengerTextbox {
    color: #ffffff;
    font-size: 20px;
    background-color: white;
    position: absolute;
    text-align: center;
    padding: 5px 0px;
    width: 200px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    bottom: 5%;
}