body {
    background-color: lightslategray;
}

.container {
    height: 600px;
    width: 90%;
    margin: 2% 5%;
    background-color: white;
}

h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.row {
    width: 100%;
}

.rowStyle1 {
    height: 48px;
}

.rowStyle2 {
    height: 228px;
}

.col-4 {
    width: 33%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.col {
    margin: auto;
    text-align: center;
}

.align-left {
    text-align: left;
    float: left;
}

.align-right {
    text-align: right;
    float: right;
}

.align-center {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.remainingCharacter {
    border: 10px solid green;
}

.remainingTextbox-left {
    color: #ffffff;
    font-size: 20px;
    background-color: #000000;
    text-align: center;
    padding: 5px 0px;
}

.remainingTextbox-right {
    color: #ffffff;
    font-size: 20px;
    background-color: #000000;
    text-align: center;
    padding: 5px 3px;
}

.heroImage {
    border: 10px solid white;
}

.heroTextbox {
    color: #ffffff;
    font-size: 20px;
    background-color: white;
    position: relative;
    text-align: center;
    padding: 5px 0px;
}

.challengerImage {
    border: 10px solid white;
}

.challengerTextbox {
    color: #ffffff;
    font-size: 20px;
    background-color: white;
    position: relative;
    text-align: center;
    padding: 5px 0px;
}